<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2011 Mark Michaelis                                             ~
  ~                                                                           ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");           ~
  ~ you may not use this file except in compliance with the License.          ~
  ~ You may obtain a copy of the License at                                   ~
  ~                                                                           ~
  ~     http://www.apache.org/licenses/LICENSE-2.0                            ~
  ~                                                                           ~
  ~ Unless required by applicable law or agreed to in writing, software       ~
  ~ distributed under the License is distributed on an "AS IS" BASIS,         ~
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  ~
  ~ See the License for the specific language governing permissions and       ~
  ~ limitations under the License.                                            ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%5level] %logger{0} - %message \(%thread, %class, %file:%line\)%n</pattern>
    </encoder>
  </appender>

  <logger name="de.mmichaelis.maven.mojo" level="DEBUG">
    <appender-ref ref="stdout"/>
  </logger>

  <!-- Set system property "root-level" to OFF to turn off logging or
       any valid logging level. Default is: WARN. -->
  <root level="${root-level:-WARN}">
    <appender-ref ref="stdout"/>
  </root>
</configuration>